@font-face {
  font-family: "iconfont"; /* Project id 3707360 */
  src: url('iconfont.woff2?t=1666776039077') format('woff2'),
       url('iconfont.woff?t=1666776039077') format('woff'),
       url('iconfont.ttf?t=1666776039077') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aixin:before {
  content: "\e613";
}

.icon-pinglun:before {
  content: "\e607";
}

.icon-jushoucang:before {
  content: "\e643";
}

.icon-qianbao:before {
  content: "\e608";
}

.icon-daishouhuo:before {
  content: "\e7a2";
}

.icon-shouji:before {
  content: "\e604";
}

.icon-gerenzhongxin:before {
  content: "\e605";
}

.icon-huidingbu:before {
  content: "\e691";
}

.icon-kefu:before {
  content: "\ec2e";
}

.icon-clock:before {
  content: "\e63e";
}

.icon-24huafei:before {
  content: "\e66f";
}

.icon-SIMqiaguanli:before {
  content: "\e603";
}

.icon-jinqian-fanli:before {
  content: "\e639";
}

.icon-loufangfangzi:before {
  content: "\e729";
}

.icon-xiangxia:before {
  content: "\e602";
}

.icon-15tianwuliyoutuihuo:before {
  content: "\e606";
}

.icon-liwuhuodong:before {
  content: "\e600";
}

.icon-31dingwei:before {
  content: "\e601";
}

.icon-banshou:before {
  content: "\e659";
}

.icon-shoppingcart:before {
  content: "\e881";
}

.icon-7tiantuihuanhuo:before {
  content: "\e61f";
}

